<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/home.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/all.css') }}"
		/>
		<title>Home | Aray</title>
	</head>
	<body>
		<div class="main-flex-container">
			<div class="left-flex-container flex-item">
				<div class="nav-links">
					<ul>
						<li class="nav-items logo">
							<a href="#"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="nav-items current-page">
							<a href="#"><i class="fas fa-home"></i> Home</a>
						</li>
						<li class="nav-items">
							<a href="#"><i class="fas fa-hashtag"></i> Explore</a>
						</li>
						<li class="nav-items">
							<a href="#"><i class="far fa-bell"></i> Notifikasi</a>
						</li>
						<li class="nav-items">
							<a href="{{ url_for('profile') }}"
								><i class="far fa-user"></i> Profil</a
							>
						</li>
						<li class="nav-items">
							<a href="#"><i class="far fa-envelope"></i> Pesan</a>
						</li>
						<li class="nav-items">
							<a href="#"><i class="fa fa-gear"></i> Pengaturan</a>
						</li>
						<li class="nav-items">
							<a href="{{ url_for('logout') }}"
								><i class="fas fa-sign-out-alt"></i> Log Out</a
							>
						</li>

						<li class="nav-items">
							<a href="#"
								><i class="fas fa-ellipsis-h more-icon"></i> Lainnya</a
							>
						</li>
					</ul>
				</div>
				<div class="tweet"><a href="#">Post</a></div>
				<div class="profile-box">
					<img
						src="{{ url_for('static', filename='img/profile_nobg.jpg') }}"
						alt="profile"
					/>
					<div class="profile-link">
						<p class="full-name">{{ user_info.name }}</p>
						<p class="user-name">@{{ user_info.username }}</p>
					</div>
					<div class="options-icon"><i class="fas fa-caret-down"></i></div>
				</div>
			</div>

			<div class="center-flex-container flex-item">
				<div class="home">
					<h1>Home</h1>
					<i class="fas fa-magic"></i>
				</div>

				<div class="post-tweet">
					<form action="{{ url_for('postingan') }}" method="POST">
						<div class="form-group-1">
							<img
								src="{{ url_for('static', filename='img/profile_nobg.jpg') }}"
								alt="profile-pics"
							/>
							<input
								type="text"
								name="content"
								placeholder="What's happening?"
								required
							/>
						</div>
						<div class="form-group-2">
							<div class="post-icons">
								<i class="far fa-image"></i>
								<i class="far fa-file-image"></i>
								<i class="fas fa-stream"></i>
								<i class="far fa-smile"></i>
								<i class="far fa-calendar-check"></i>
							</div>
							<button class="btn" type="submit">Post</button>
						</div>
					</form>
				</div>

				<!-- User Content -->
				{% for tweet in tweets %}
				<div class="tweets">
					<div class="user-pics">
						<img
							src="{{ url_for('static', filename='img/profile_nobg.jpg') }}"
							alt="user3"
						/>
					</div>

					<div class="user-content-box">
						<div class="user-names">
							<hi class="full-name">{{ tweet[2] }}</hi>
							<p class="user-name">@{{ tweet[2] }}</p>
							<p class="time">{{ tweet[1] }}</p>
						</div>

						<div class="user-content">
							<p>{{ tweet[0] }}</p>
						</div>

						<div class="content-icons">
							<i class="far fa-comment blue"> 109</i>
							<i class="fas fa-retweet green"> 865</i>
							<i class="far fa-heart red">1.6k</i>
							<i class="fas fa-chevron-up blue"></i>
						</div>
					</div>
				</div>
				{% endfor %}

				<div class="tweets">
					<div class="user-pics">
						<img
							src="{{ url_for('static', filename='img/mas_luis.jpg') }}"
							alt="user3"
						/>
					</div>
					<div class="user-content-box">
						<div class="user-names">
							<hi class="full-name">Mas Luis</hi>
							<p class="user-name">@arianto_luis</p>
							<p class="time">. 1hr</p>
						</div>

						<div class="user-content">
							<p>
								Jual senjata api illegal di Indonesia. COD daerah gamping.
								<a href="#">#senjata_api</a> <a href="#">#illegal</a>
								<a href="#">#indonesia</a>
							</p>
						</div>

						<div class="content-icons">
							<i class="far fa-comment blue"> 2k</i>
							<i class="fas fa-retweet green"> 6k</i>
							<i class="far fa-heart red"> 10k</i>
							<i class="fas fa-chevron-up blue"></i>
						</div>
					</div>
				</div>

				<!-- Tambahkan konten tweet lainnya di sini -->

				<div class="pagnation">
					<a href="#">Tampilkan lebih banyak</a>
				</div>
			</div>

			<div class="right-flex-container flex-item">
				<div class="search-box">
					<i class="fas fa-search"></i>
					<input type="text" placeholder="Search Twitter" />
				</div>

				<div class="trends">
					<ul>
						<li class="nav-list header">
							<h2>Trending untuk kamu</h2>
							<i class="fas fa-cog"> </i>
						</li>
						<li class="nav-list">
							<div class="trend-list">
								<p class="sub-text">Trending di Indonesia</p>
								<p class="main-text">#fufufafa</p>
								<p class="sub-text">274K Postingan</p>
							</div>
							<div class="trend-icon">
								<i class="fas fa-chevron-down"></i>
							</div>
						</li>
						<!-- Tambahkan tren lainnya di sini -->
						<li class="nav-list">
							<div class="trend-list">
								<p class="main-text">#PempekPalembang</p>
								<p class="sub-text">999K Postingan</p>
							</div>
							<div class="trend-icon">
								<i class="fas fa-chevron-down"></i>
							</div>
						</li>
						<li class="nav-list">
							<div class="trend-list">
								<p class="main-text">#RealMadrid</p>
								<p class="sub-text">459K Postingan</p>
							</div>
							<div class="trend-icon">
								<i class="fas fa-chevron-down"></i>
							</div>
						</li>
						<li class="nav-list">
							<div class="trend-list">
								<p class="sub-text">Trending di Gamping</p>
								<p class="main-text">Batagor Mang Asep Gunadi</p>
								<p class="sub-text">598K Postingan</p>
							</div>
							<div class="trend-icon">
								<i class="fas fa-chevron-down"></i>
							</div>
						</li>
						<li class="nav-list"><a href="#">Tampilkan lebih banyak</a></li>
					</ul>
				</div>

				<div class="right-footer">
					<div class="footer-links">
						<a href="#" class="sub-text">Ketentuan</a>
						<a href="#" class="sub-text">Kebijakan privasi</a>
						<a href="#" class="sub-text">Info iklan</a>
						<a href="#" class="sub-text">lebih lanjut</a>
						<i class="fas fa-chevron-down sub-text"></i>
					</div>
					<div class="footer-copyright">
						<p class="sub-text">&copy; 2024 Aray, Inc.</p>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
